<div class="container">
    <button [hidden]="!showAddForm" type="button" class="btn btn-secondary mb-2" (click)="showAddForm = false"><i class="fa fa-minus-square-o"></i> Hide Add Form</button>
    <button [hidden]="showAddForm" type="button" class="btn btn-secondary mb-2" (click)="viewAddForm()"><i class="fa fa-plus-square"></i> Show Add Form</button>
    <form [hidden]="!showAddForm">
        <div class="form-group">
            <input type="text" #title class="form-control" placeholder="Title"
                   [(ngModel)]="newKbEntry.title" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="5" placeholder="Description"
                      [(ngModel)]="newKbEntry.desc" [ngModelOptions]="{standalone: true}"></textarea>
        </div>
        <div class="form-group">
            <input #tag type="text" class="form-control" placeholder="New/Existing Tag"
                   [ngbTypeahead]="search" [resultFormatter]="formatter" (selectItem)="onSelectTypeahead($event, $event.item)" >
        </div>
        <mat-chip-list aria-label="Selected Tags">
            <mat-chip class="mb-3" *ngFor="let tag of newKbEntry.tags" [selectable]="false"
                      [removable]="true" (removed)="removeTag(tag)">
                {{tag.tagNm}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
        <button type="submit" class="btn btn-primary mr-3" (click)="onAddKbEntry()">Add KB Entry</button>
        <button type="button" class="btn btn-secondary">Clear</button>
    </form>
    <form class="form-inline">
        <div class="form-group mb-2">
            <input type="text" class="form-control" placeholder="Filter Text">
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <select class="form-control"  [ngModelOptions]="{standalone: true}" [(ngModel)]="filterTag" (change)="onFilterTag($event.target.value) //noinspection UnresolvedVariable">
                <option value="">-Select One-</option>
                <option *ngFor="let tag of tags" value="{{tag.tagCd}}">{{tag.tagNm}}</option>
            </select>
        </div>
    </form>
    <div [hidden]="!filteredKbEntries || filteredKbEntries.length === 0" class="list-group">
        <div *ngFor="let entry of filteredKbEntries" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{entry.title}}</h5>
                <small class="text-muted">ID={{entry.id}}</small>
            </div>
            <p class="mb-1">{{entry.desc}}</p>
            <small *ngFor="let tg of entry.tags" class="text-muted">{{tg.tagNm}} </small>
        </div>
    </div>
</div>